<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="black_material">
    <material name="black">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
  </xacro:property>
  
  <xacro:property name="blue_material">
    <material name="blue">
      <color rgba="0.0 0.0 1.0 1.0"/>
    </material>
  </xacro:property>
  
  <xacro:property name="red_material">
    <material name="red">
      <color rgba="1.0 0.0 0.0 1.0"/>
    </material>
  </xacro:property>
  
  <xacro:property name="green_material">
    <material name="green">
      <color rgba="0.0 1.0 0.0 1.0"/>
    </material>
  </xacro:property>

</robot>
